NEXT_PUBLIC_SUPABASE_URL=https://sexswcmpqgtvsdvbqmkh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNleHN3Y21wcWd0dnNkdmJxbWtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4MTAyNzIsImV4cCI6MjA4NjM4NjI3Mn0.Bm59DEF7jJ_YmKfJO493XNffWLJDoQD7_CzPHyRvTgY
